/* ==========================
   Global Style
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* ==========================
   Navbar
========================== */

nav{
    width:100%;
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

.logo{
    color:white;
    text-decoration:none;
    font-size:28px;
    font-weight:bold;
}

.logo span{
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

/* ==========================
   Footer
========================== */

footer{
    background:#0f172a;
    color:white;
    padding:50px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.footer-bottom{
    text-align:center;
    margin-top:20px;
}

/* ==========================
   Common Content
========================== */

.content{
    width:90%;
    margin:auto;
    padding:40px 0;
}