{% extends 'subbase.html' %}


{% block dashboard_content %}

<h1>Fill Exam Form</h1>

{{msg}}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-box">
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="Enter First Name" required>
        </div><br>

        <div class="input-box">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Enter Last Name" required>
        </div>
    </div><br>

    <div class="input-box">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="Enter Email" required>
    </div><br>

    <div class="input-box">
        <label>Mobile Number</label>
        <input type="tel" name="mobile" placeholder="Enter Mobile Number" required>
    </div><br>

    <div class="row">
        <div class="input-box">
            <label>Date of Birth</label>
            <input type="date" name="dob" required>
        </div><br>

        <div class="input-box">
            <label>Gender</label>

            <div class="gender">
                <label><input type="radio" name="gender"> Male</label>
                <label><input type="radio" name="gender"> Female</label>
                <label><input type="radio" name="gender"> Other</label>
            </div>

        </div>
    </div><br>

    <div class="input-box">
        <label>Address</label>
        <textarea rows="4" name="address" placeholder="Enter Address"></textarea>
    </div><br>

    <div class="row">

        <div class="input-box">
            <label>Select Exam</label>

            <select name="subject">
                <option>Select Exam</option>
                <option>NDA</option>
                <option>JEE Main</option>
                <option>NEET</option>
                <option>CUET</option>
                <option>SSC</option>
            </select>
        </div><br>

        <div class="input-box">
            <label>Exam Center</label>

            <select name="center">
                <option>Select Center</option>
                <option>Bhopal</option>
                <option>Indore</option>
                <option>Jabalpur</option>
                <option>Gwalior</option>
            </select>
        </div>

    </div><br>

    <div class="input-box">
        <label>Upload Photograph</label>
        <input type="file" name="photo">
    </div><br>

    <div class="input-box">
        <label>Upload Signature</label>
        <input type="file" name="file">
    </div><br>

    <div class="checkbox">
        <input type="checkbox"  required>
        <span>I confirm that the information provided is correct.</span>
    </div><br>

    <button type="submit">Submit Form</button>
</form>
{% endblock %}