{% extends 'subbase.html' %}


{% block dashboard_content %}

<h1>Fill Exam Form</h1>

{{msg}}

{% if not Exam_data %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-box">
            <label>First Name</label>
            <input type="text" value="{{data.name}}" readonly name="firstName" placeholder="Enter First Name" required>
        </div><br>

        <div class="input-box">
            <label>Last Name</label>
            <input type="text"  name="lastName" placeholder="Enter Last Name" required>
        </div>
    </div><br>

    <div class="input-box">
        <label>Email Address</label>
        <input type="email"  value="{{data.email}}" readonly name="email" placeholder="Enter Email" required>
    </div><br>

    <div class="input-box">
        <label>Mobile Number</label>
        <input type="tel" name="mobile" placeholder="Enter Mobile Number" required>
    </div><br>

    <div class="row">
        <div class="input-box">
            <label>Date of Birth</label>
            <input type="date" name="dob" required>
        </div><br>

        <div class="input-box">
            <label>Gender</label>

            <div class="gender">
                <label><input type="radio" value="Male" name="gender"> Male</label>
                <label><input type="radio" value="Female" name="gender"> Female</label>
                <label><input type="radio" value="other" name="gender"> Other</label>
            </div>

        </div>
    </div><br>

    <div class="input-box">
        <label>Address</label>
        <textarea rows="4" name="address" placeholder="Enter Address"></textarea>
    </div><br>

    <div class="row">

        <div class="input-box">
            <label>Select Exam</label>

            <select name="exam">
                <option>Select Exam</option>
                <option>NDA</option>
                <option>JEE Main</option>
                <option>NEET</option>
                <option>CUET</option>
                <option>SSC</option>
            </select>
        </div><br>

        <div class="input-box">
            <label>Exam Center</label>

            <select name="center">
                <option>Select Center</option>
                <option>Bhopal</option>
                <option>Indore</option>
                <option>Jabalpur</option>
                <option>Gwalior</option>
            </select>
        </div>

    </div><br>

    <div class="input-box">
        <label>Upload Photograph</label>
        <input type="file" name="photo">
    </div><br>

    <div class="input-box">
        <label>Upload Signature</label>
        <input type="file" name="file">
    </div><br>

    <div class="checkbox">
        <input type="checkbox"  required>
        <span>I confirm that the information provided is correct.</span>
    </div><br>

    <button type="submit">Submit Form</button>
</form>

{% else %}
<form action="{% url 'updateform' pk=Exam_data.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-box">
            <label>First Name</label>
            <input type="text" value="{{Exam_data.first_name}}" readonly name="firstName" placeholder="Enter First Name" required>
        </div><br>

        <div class="input-box">
            <label>Last Name</label>
            <input type="text" value="{{Exam_data.last_name}}"  name="lastName" placeholder="Enter Last Name" required>
        </div>
    </div><br>

    <div class="input-box">
        <label>Email Address</label>
        <input type="email"  value="{{Exam_data.email}}" readonly name="email" placeholder="Enter Email" required>
    </div><br>

    <div class="input-box">
        <label>Mobile Number</label>
        <input type="tel" value="{{Exam_data.mobile}}"  name="mobile" placeholder="Enter Mobile Number" required>
    </div><br>

    <div class="row">
        <div class="input-box">
            <label>Date of Birth</label>
            <input type="date" name="dob" value="{{ Exam_data.dob|date:'Y-m-d' }}" required>
        </div><br>

        <div class="input-box">
            <label>Gender</label>

            

            <div class="gender">
               <label><input type="radio" name="gender" value="Male" {% if Exam_data.gender == 'Male' %}checked{% endif %}> Male</label>
               <label><input type="radio" name="gender" value="Female" {% if Exam_data.gender ==  'Female' %}checked{% endif %}> Female</label>
               <label><input type="radio" name="gender" value="other" {% if Exam_data.gender == 'other' %}checked{% endif %}> Other</label>
            </div>

        </div>
    </div><br>

    <div class="input-box">
        <label>Address</label>
        <textarea rows="4" name="address" placeholder="Enter Address">{{Exam_data.address}}</textarea>
    </div><br>

    <div class="row">

        <div class="input-box">
            <label>Select Exam</label>

            <select name="exam">
                <option>Select Exam</option>
                <option value="NDA" {% if Exam_data.exam == 'NDA' %} selected {% endif%}>NDA</option>
                <option value="JEE Main" {% if Exam_data.exam == 'JEE Main' %} selected {% endif%}>JEE Main</option>
                <option value="NEET" {% if Exam_data.exam == 'NEET' %} selected {% endif%}>NEET</option>
                <option value="CUET" {% if Exam_data.exam == 'CUET' %} selected {% endif%}>CUET</option>
                <option value="SSC" {% if Exam_data.exam == 'SSC' %} selected {% endif%}>SSC</option>
            </select>
        </div><br>

        <div class="input-box">
            <label>Exam Center</label>

            <select name="center" >
                <option>Select Center</option>
                <option value="Bhopal" {% if Exam_data.exam_center == 'Bhopal' %} selected {% endif %}>Bhopal</option>
                <option value="Indore" {% if Exam_data.exam_center == 'Indore' %} selected {% endif %}>Indore</option>
                <option value="Jabalpur" {% if Exam_data.exam_center == 'Jabalpur' %} selected {% endif %}>Jabalpur</option>
                <option value="Gwalior" {% if Exam_data.exam_center == 'Gwalior' %} selected {% endif %}>Gwalior</option>
            </select>
        </div>

    </div><br>

    <div class="input-box">
    <label>Upload Photograph</label>
    <input type="file" name="photo">
    {% if Exam_data.photograph %}
        <a href="{{ Exam_data.photograph.url }}" target="_blank">
            Current Photo
        </a>
    {% endif %}
</div>

<div class="input-box">
    <label>Upload Signature</label>
    <input type="file" name="file">
    {% if Exam_data.signature %}
        <a href="{{ Exam_data.signature.url }}" target="_blank">
            Current Signature
        </a>
    {% endif %}
</div>
    <div class="checkbox">
        <input type="checkbox"  required>
        <span>I confirm that the information provided is correct.</span>
    </div><br>

    <button type="submit">Update form</button>
</form>
{% endif %}


{% endblock %}