{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% block dashboard_css %}{% endblock %}
{% endblock %}

{% block content %}

<div class="dashboard">

    <div class="sidebar">

        <h2>Student Panel</h2>

        <ul>

            <li>
                <a href="#">
                    Dashboard
                </a>
            </li>

            <li>
                <a href="#">
                    My Profile
                </a>
            </li>  

            <li>
                <a href="{% url 'fill_exam_form '%}">
                    Fill Exam Form
                </a>
            </li>

            <li>
                <a href="#">
                    Show Details
                </a>
            </li> 

            <li>
                <a href="#">
                    Logout
                </a>
            </li>

        </ul>

    </div>

    <div class="content-area">

        {% block dashboard_content %}

        {% endblock %}

    </div>

</div>

{% endblock %}