{% load static %}

<head>
    <title>  {% block title %} {% endblock title %} </title>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
</head>

<body>
    {% comment %} nav bar {% endcomment %}
 
    <nav>
        {% if not data %}

        <a href="#" class="logo">Web<span>Site</span></a>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'service' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        {% else %}
        <img src="{{data.image.url}}" alt="Logo" style="width: 40px; height: 40px; border-radius: 50%; margin-left: 15px;">
        <h2 style="font-weight: bold ;color: rgb(223, 24, 90);">welcome  {{data.name}} </h2>
        {% endif %}


        {% if not data %}

        <div class="buttons">
            <button class="btn-register"><a href="{% url 'register' %}">Register</a></button>
            <button class="btn-login"><a href="{% url 'login' %}">Login</a></button>
        </div>

        {% else %}
        <div>
            <button style="background-color: rgb(243, 44, 110); height: 35px; width: 150px;border-radius: 20px;display: flex;justify-content: center;align-items: center;padding-left:10px ;"><a href="{% url 'logout' %}" style="color:white; text-decoration:none; font-size: 20px">Logout</a></button>
        </div>
        {% endif %}
    </nav>
  

  
    {% block content %} {% endblock content %}
    

    

    {% comment %} footer {% endcomment %}
    <footer>
        <div class="footer-container">

            <div class="footer-section">
                <h2 class="logo">Web<span>Site</span></h2>
                <p>
                    We provide modern web development solutions with responsive
                    designs and user-friendly interfaces.
                </p>
            </div>

            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

           <div class="footer-section">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">UI/UX Design</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <p>Email: info@website.com</p>
                <p>Phone: +91 9876543210</p>
                <p>Address: Bhopal, Madhya Pradesh</p>
            </div>

        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 Website. All Rights Reserved.</p>
        </div>
    </footer>
</body>


